@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

body {
  background-image: url('../images/memphis-colorful.png');
}

.name-header {
  display: block;
  text-align: center;
}

.name-text {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0.623);
}

.about-me-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-6 {
  width: 500px;
  height: 500px;
}

.about-me-photo {
  background-color: red;
  width: 500px;
  height: 500px;
  margin: 5em;
  box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
}

.about-me-paragraph {
  background-color: blue;
  width: 500px;
  height: 500px;
  margin: 5em;
}
