@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~bootstrap/scss/bootstrap";

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  background-image: url('../images/memphis-colorful.png');
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

i {
  font-size: 10em;
}

.header {
  display: block;
  text-align: center;
}

.name-text {
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.623);
}
.header-text {
  font-family: 'DM Serif Display', serif;
  font-size: 1.7em;
  background-color: rgba(255, 255, 255, 0.623);
}

.about-me-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-right: 2em;
  margin-left: 2em;
}

.about-me-photo {
  margin-top: 3em;
  border: 0.3em solid white;
  max-width: 100%;
  box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
  border-radius: 50%;
}

.about-me-header {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  text-align: center;
}

.about-me-paragraph {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.20em;
  text-align: center;
}

.about-me-blurb {
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
  margin-top: 3em;
  max-width: 35em;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.project-link {
  font-family: 'DM Serif Display', serif;
  font-size: 1.5em;
}

.project-description {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(18, 18, 65);
}

.projects-container {
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 4px 4px 16px -4px rgba(0,0,0,0.75);
}

.project-tagline {
  font-family: 'Roboto', sans-serif;
  font-size: 1.20em;
}

.carousel-img {
  max-height: 45em;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.863);
  padding: 1em;
  border: 0.3em solid black;
}

.technologies-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.footer-text {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5em;
  color: white;
}

.page-footer {
  background-color: black;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
}

.footer-icon {
  max-width: 3em;
  margin-right: 0.7em;
  margin-left: 0.7em;
}

.project-github-icon {
  max-width: 2.5em;
}